<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semrush Home Test</title>
    <style>
        .text{
            margin-bottom: 10px;
            display: block;
        }
        .wrapper{
            margin: 0 20px;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="wrapper">
<h1>ID Generator</h1>
<form action="/upload" method="POST">
    <label class="text">Upload your URL File to generate IDs</label>
    <input type="file" multiple>
    <button type="submit">Generate Now</button>
</form>
</div>
</body>
</html>